<div class="remodal remodal-is-initialized remodal-is-closed" data-remodal-id="callback_small"
    data-remodal-options="hashTracking: false" tabindex="-1">
    <div class="fix-back">
        <!-- <button data-remodal-action="close" class="remodal-close"></button> -->
        <h2 class="callback_small_h2">Заказ звонка</h2>
        <p>Заполните форму, и мы свяжемся с вами с ближайшее время</p>
        <form>
            <input class="input" name="phone" type="text" placeholder="Введите ваш телефон">
            <button class="btn_red" type="submit">Отправить</button>
        </form>
    </div>
</div>
<div class="remodal remodal-is-initialized remodal-is-closed" data-remodal-id="callback_lead"
    data-remodal-options="hashTracking: false" tabindex="-1">
    <div class="fix-back">
        <!-- <button data-remodal-action="close" class="remodal-close"></button> -->
        <h2 class="callback_small_h2">Заявка</h2>
        <div class="name">Прицеп легковой 4м</div>
        <div class="article">Артикул: SKU0001-2</div>
        <p>Заполните форму, и мы свяжемся с вами с ближайшее время</p>
        <form>
            <input class="input" name="phone" type="text" placeholder="Введите ваш телефон">
            <button class="btn_red" type="submit">Отправить</button>
        </form>
    </div>
</div>



<div class="remodal remodal-is-initialized remodal-is-closed" data-remodal-id="callback_two_rows"
    data-remodal-options="hashTracking: false" tabindex="-1">
    <div class="fix-back">
        <!-- <button data-remodal-action="close" class="remodal-close"></button> -->
        <h2 class="callback_small_h2">Заказ прицепа</h2>
        <p>Заполните форму, и мы свяжемся с вами с ближайшее время</p>
        <form>
            <textarea class="input textarea" name="name_pricep" placeholder="Опишите, какой прицеп вы хотели бы заказать?"></textarea>
            <input class="input" name="phone" type="text" placeholder="Введите ваш телефон">
            <button class="btn_red" type="submit">Отправить</button>
        </form>
    </div>
</div>


<div class="remodal remodal-is-initialized remodal-is-closed" data-remodal-id="callback_delivery"
    data-remodal-options="hashTracking: false" tabindex="-1">
    <div class="fix-back">
        <!-- <button data-remodal-action="close" class="remodal-close"></button> -->
        <h2 class="callback_small_h2">Заказ прицепа</h2>
        <p>Заполните форму, и мы свяжемся с вами с ближайшее время</p>
        <form>
            <input class="input" name="city" type="text" placeholder="Напишите населенный пукнт">
            <input class="input" name="phone" type="text" placeholder="Введите ваш телефон">
            <button class="btn_red" type="submit">Отправить</button>
        </form>
    </div>
</div>