.carts_row_section {
    margin-bottom: 80px;

    .h1_title {
        margin-bottom: 60px;
    }

    .flex_cart_row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 40px;
        height: 258px;

        .cart-cell {
            max-width: 282px;
            position: relative;
            width: 100%;
            max-height: 258px;

            .card_hover_box {
                max-height: 268px;
                position: absolute;
                overflow: hidden;
                display: block;
                color: $dark;
            }

            &:hover {
                .card_hover_box {
                    background-color: #fff;
                    outline: 16px solid #fff;
                    z-index: 5;
                    position: relative;
                    border-radius: 1px;
                    box-shadow: 0px 0px 13px 20px rgba(34, 60, 80, 0.2);
                    max-height: unset;
                    overflow: visible;
                }
            }

            .photo_box {
                border-radius: 5px;
                margin-bottom: 15px;


                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }

            .text_box {
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;

                .price {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 140%;
                }
            }
        }
    }

    @media screen and (max-width: 1210px) {
        margin-bottom: 50px;
        .h1_title {
            margin-bottom: 40px;
        }

        .flex_cart_row {
            column-gap: 10px;
            row-gap: 18px;
            flex-wrap: wrap;
            height: auto;
            margin-bottom: 30px;

            .cart-cell {
                width: 48%;
                max-width: unset;
                max-height: unset;
                &:hover{
                    .card_hover_box{
                        outline: none;
                        box-shadow: none;
                    }
                }

                .card_hover_box {
                    max-height: unset;
                    position: relative;
                    .btn_red.small{
                        background: none;
                        color: $accent;
                        margin: 0;
                        margin-top: 5px;
                        padding: 0;
                        display: block;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}